doctype
html
    head
        title= "Welcome to BitChat"
        script(src='http://bitchat.jpalala.com/jq.js')
        script(src='http://bitchat.jpalala.com/code.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        // load bootstrap css
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        // load fontawesome
        style.
            body        { padding-top:80px; }
     body
        .container
            #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
            .controls
            | Name:
            input#name(style='width:350px;')
            br
            input(id='field', style='width:350px;')
            input.send(id='send', type='button', value='send')
            br
            | Chat Log:
            input#status(style='width:500px;')
            input#ipaddress(type='hidden')
